# Dictionary & Set
---
## Index
- Dictionary
    - Dictionary example
- Set
    - Set example
- Practice1
- Practice2

---
## Dictionary
- 영한사전에서 영어 단어와 그 의미가 쌍을 이루듯 키와 값이 쌍을 이뤄 저장된 자료형
- 키를 이용하여 저장된 값을 찾으며 키는 사전에서 유일한 값
- dic = {key1:value, key2:value2} 같이 저장

In [1]:
ab = {1:'a',2:'b',3:'c'}

In [2]:
print(ab)
print("Number of elements in the ab is", len(ab))

{1: 'a', 2: 'b', 3: 'c'}
Number of elements in the ab is 3

- 사전 연산
    - 사전 인덱스로 항목 추가
    - key 값과 value값이 서로 다른형태로 들어갈수있음

In [3]:
ab[4] = 'd'
print("dictionary :", ab)

dictionary : {1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [4]:
ab['name'] = 'Minsang'
print("Added dictionary is now",ab)

Added dictionary is now {1: 'a', 2: 'b', 3: 'c', 4: 'd', 'name': 'Minsang'}

In [5]:
ab['list'] = [1,2,3]
print(ab)

{1: 'a', 2: 'b', 3: 'c', 4: 'd', 'name': 'Minsang', 'list': [1, 2, 3]}

|연산자|기능|사용예|
|:---:|:---:|:---:|
|get(var)|항목 찾기|dictionary.get(key)|
|del|항목삭제|del dictionary[key]|
|keys()|key들의 리스트 획득|dictionary.keys()|
|values()|value들의 리스트 획득|dictionary.values()|
|items()|key-value쌍들의 리스트 획득|dictionary.items()|

In [9]:
ab = {1:'a',2:'b',3:'c'}

#del로 항목 삭제
del ab[2]
print(ab)

{1: 'a', 3: 'c'}

In [10]:
#[index]로 항목찾기
print(ab[1])

a

In [11]:
#get()로 항목찾기
print(ab.get(1))

a

In [12]:
# 예제를 위한 추가
ab[2] = 'b'

In [15]:
#사전 key 리스트
print(ab.keys())
#사전 value 리스트
print(ab.values())
# 사전 key, value 리스트
print(ab.items())

dict_keys([1, 3, 2])
dict_values(['a', 'c', 'b'])
dict_items([(1, 'a'), (3, 'c'), (2, 'b')])

In [16]:
# key가 사전에 있는지 찾기
print(bool(1 in ab))
print(bool(4 in ab))

True
False

---
## Set
- 정렬되지 않고 중복되지 않은 단순 객체의 묶음
- 집합의 부분집합 관계 혹은 집합들의 교집합 등 집합연산 가능

In [18]:
nation = set('Korea') #set->형변환연산
nations = set(['Korea', 'Japan','China'])

print(nation)
print(nations)
print('# of elements in the nation is', len(nation))
print('# of elements in the nations is', len(nations))

{'a', 'r', 'o', 'K', 'e'}
{'China', 'Korea', 'Japan'}
# of elements in the nation is 5
# of elements in the nations is 3

In [19]:
# 항목의 존재 유무
print('Korea' in nations)
print('USA' in nations)

True
False

In [20]:
# 집합 복사
nations2 = nations.copy()
print(nations)

{'China', 'Korea', 'Japan'}

In [21]:
# 항목 추가
nations2.add("USA")
print(nations2)

{'China', 'Korea', 'USA', 'Japan'}

- 집합 연산
|연산자|기능|사용예|
|:---:|:---:|:---:|
|add(var)|항목 추가|set.add(item)|
|update(var)|여러 항목 한번에 추가|set.update(list)|
|copy()|집합 복사|set1.copy(set2)|
|remove(var)|항목 제거|set.remove(item)|
|union(var)|합집합(set1ㅣset2)|set1.union(set2)|
|difference(var)|차집합(set1-set2)|set1.difference(set2)|
|intersection(var)|교집합(set1&set2)|set1.intersection(set2)|
이외에 여러가지가 있음

- 합집합, 차집합

In [23]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

# 합집합
print(s1 | s2)
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [24]:
# 차집합
print(s1 - s2)
print(s1.difference(s2))

{1, 2, 3}
{1, 2, 3}

- 교집합, update()

In [25]:
# 교집합
print(s1&s2)
print(s1.intersection(s2))

{4, 5, 6}
{4, 5, 6}

In [26]:
# update()로 항목 추가
s2.update([1,2])
print(s2)

{1, 2, 4, 5, 6, 7, 8, 9}

---
## Practice 1
- Using Dictionary to make Phone book
    - 이름을 키로, 전화번호를 값으로 하는 사전
    - 전화번호부에 새로운 연락처 추가가 자유로움
    - 이름을 사용해서 검색하거나 연락처 삭제 가능
    - 1은 추가, 2는 거색, 3은 삭제, 4는 종료 기능

In [33]:
dic = {}
def phonebook():
    while(True):
        print("1: add, 2: search, 3. delete, 4.quit")
        print("enter only number")
        n = int(input())
        if n == 4:
            break;
        else:
            if n == 1:
                key = input("type name ")
                val = input("type phone number ")
                dic[key] = val
            elif n == 2:
                key = input("type name ")
                print("name: ",key,"number: ",dic[key])
            elif n == 3:
                key = input("type name ")
                del dic[key]
                print("name:",key," is deleted.")

In [34]:
phonebook()

1: add, 2: search, 3. delete, 4.quit
enter only number
1
type name db
type phone number 010-1234-5678
1: add, 2: search, 3. delete, 4.quit
enter only number
1
type name max
type phone number 010-2222-5678
1: add, 2: search, 3. delete, 4.quit
enter only number
1
type name min
type phone number 010-2423-3344
1: add, 2: search, 3. delete, 4.quit
enter only number
2
type name db
name:  db number:  010-1234-5678
1: add, 2: search, 3. delete, 4.quit
enter only number
2
type name min
name:  min number:  010-2423-3344
1: add, 2: search, 3. delete, 4.quit
enter only number
3
type name min
name: min  is deleted.
1: add, 2: search, 3. delete, 4.quit
enter only number
4

In [35]:
dic

{'db': '010-1234-5678', 'max': '010-2222-5678'}

---
## Practice2
- Use Set to make Set Calculator
    - 집합은 두개만 존재
    - 집합은 직접 입력
    - 합집합, 차집합, 교집합 계산기

In [36]:
def setcal():
    while(True):
        print("1: |, 2: -, 3: &, 4: quit")
        print("enter only number")
        n = int(input())
        if n == 4:
            break
        print("type number of elements in set1")
        n1 = int(input())
        s1 = set([])
        for i in range(n1):
            print("type element")
            e1 = int(input())
            s1.add(e1)
        print("type number of elements in set2")    
        n2 = int(input())
        s2 = set([])
        for i in range(n2):
            print("type element")
            e2 = int(input())
            s2.add(e2)
        if n == 1:
            print(s1|s2)
        elif n == 2:
            print(s1-s2)
        elif n == 3:
            print(s1&s2)

In [38]:
setcal()

1: |, 2: -, 3: &, 4: quit
enter only number
3
type number of elements in set1
3
type element
1
type element
2
type element
3
type number of elements in set2
2
type element
1
type element
2
{1, 2}
1: |, 2: -, 3: &, 4: quit
enter only number
4